.imei-wrapper{
    clear: both;
    width: 1220px;
    padding: 78px 0;
    margin: 0 auto;
}
.imei-wrapper .dialog{
    width: 450px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 9px;
    margin: 0 auto;
    background: url(../images/shouhou1.png) #fff bottom repeat-x;
}
.imei-wrapper .dialog .title{
    background: linear-gradient(#fbfbfb,#ececec);
    height: auto;
    overflow: visible;
    border-radius: 9px 9px 0 0;
    border-bottom: 1px solid #dcdcdc;
}
.imei-wrapper .dialog .title>h4{
    text-align: center;
    color: #646464;
    font-weight: 700;
    font-size: 18px;
    height: 47px;
    line-height: 47px;  
}
.dialog-box-content{
    padding: 10px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}
.dialog-box-content>section{
    margin-bottom: 10px;
    box-shadow: 0 0 30px -8px rgb(0 0 0 / 20%);
    padding: 35px 35px 35px 45px;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.box1-1{
    float: left;
    width: 82px;
    height: 82px;
    margin-top: 5px;
    background: url(../images/shouhou2.png) no-repeat 50%;
    background-size: 100%;
}
.content-text{
    margin-left: 127px;
    font-size: 12px;  
}
.content-text>h6{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700; 
}
.content-text>div{
    margin-bottom: 8px;
    line-height: 1.6em;
}
.content-text>a{
    font-size: 600;
    color: #5079d9;
    cursor: pointer;
    transition: all .15s ease-out;
    text-decoration: none;
}
.content-text>a>i{
    display: inline-block;
    font-family: SmartisanIconFont;
    vertical-align: middle;
}
.content-text>a>i::before{
    content: ">";
}
.content-box{
    box-shadow: 0 0 30px -8px rgb(0 0 0 / 20%);
    padding: 35px 35px 35px 45px;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.content-box .box1-2{
    background: url(../images/shouhou3.png) no-repeat 50%;
    background-size: 100%;
    float: left;
    width: 82px;
    height: 82px;
    margin-top: 5px;
}
.content-box .box1-3{
    margin-left: 127px;
    font-size: 12px;
}
.content-box .box1-3>h6{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
}
.content-box .box1-3>div{
    margin-bottom: 8px;
    line-height: 1.6em;
    font-size: 12px;
}
.content-box .box1-3>a{
    font-size: 600;
    color: #5079d9;
    cursor: pointer;
    transition: all .15s ease-out;
    text-decoration: none;
}
.content-box .box1-3>a>i{
    font-weight: 600;
    display: inline-block;
    font-family: SmartisanIconFont;
    vertical-align: middle;
}
.content-box .box1-3>a>i::before{
    content: ">";
}
a{
    text-decoration: none;
}